{% extends 'base.html' %}

{% block key_user %} {{ key_user }} {% endblock %}

{% block content %}
    <h1>{% block title %} Марусин Блог {% endblock %}</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <br>

    <body>
        <p><em>Что тебе помогает двигаться вперёд?</em></p>
        <p><em>Что источник твоего вдохновения?</em></p>
        <p><em>Что поднимает тебе настроение?</em></p>
        <p><em>Что для тебя "драйв"?</em></p>
        <p><em>Чем ты увлекаешься?</em></p>
        <p><em>У тебя есть четвероногий друг?</em></p>
        <br>
        <p>Если у тебя есть ответ хоть на один вопрос, поделись с нами!<br>
           Помоги тем, кто ещё не знает, как сделать ярким свой день!</p>
    </body>
{% endblock %}
