{% extends 'base.html' %}

{% block key_user %} {{ key_user }} {% endblock %}

{% block content %}
    <h1>{% block title %} Добро пожаловать в Марусин Блог! {% endblock %} </h1>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <br>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h4>{{ post['title'] }}</h4>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Редактировать</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
